{{ define "index" }}

{{ template "header" }}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Главная страница.</h1>
    <p class="lead">Сложно сказать, почему непосредственные участники технического прогресса могут быть описаны максимально подробно.
        Не следует, однако, забывать, что постоянный количественный рост и сфера нашей активности прекрасно подходит для реализации форм воздействия.
        В целом, конечно, базовый вектор развития прекрасно подходит для реализации экономической целесообразности принимаемых решений.</p>

    {{ range . }}
    <div class="alert alert-danger">
        <h2>{{ .NameRestauran }}</h2>
        <p>{{ .FreeTables }}</p>
        <p>{{ .ReservedTables }}</p>
        <p>{{ .WaitingForCooking }}</p>
        <p>{{ .AverageChek }}</p>
        <a href="/" class="btn btn-danger">Читать далее</a>
    </div>

    {{ else }}
    <p class="lead">Подходящих ресторанов нет!</p>
    {{ end }}

    <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Перейти к бронированию</a>
    </p>
</main>

{{ template "footer" }}

{{ end }}
